* {
    font-family: 'Fira Sans', sans-serif;
    color: #F2F2F2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;                    
    background: linear-gradient(#2d2d30, #1C1C1E);
    display: flex;                  
    flex-direction: column;
}

.container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 35px;
    font-weight: bold;
    margin-right: 50px;
}

.nav > a {
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.nav > a:hover {
    color: #90c0d1;
    font-size: 16.5px;
}

input, button {
    margin: 5px;
    padding: 9px;
    border-radius: 5px;
    border: none;
}

input {
    background-color: #333;
    color: #F2F2F2;
}

button {
    background-color: #00E5C3;
    color: #1C1C1E;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #90c0d1;
    transform: scale(1.04);
}

#app-footer {
    margin-top: auto;
    padding: 15px 10px;
    text-align: center;
}

#app-footer > p {
    text-decoration: underline 2px solid #B388FF;
    text-underline-offset: 8px;
    margin: 0;
}

#task-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 40px 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.task-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 300px;
    min-width: 300px;
}

.about-cardx {
    background: #2A2A2C;
    padding: 25px 20px;
    border-radius: 12px;
    border: 1px solid #B388FF;
    box-shadow: 0 0 10px rgba(95, 209, 255, 0.2);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.about-cardx:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.about-cardx h3, .title {
    color: #B388FF;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
}

.title{
    text-decoration: underline solid 2px #B388FF;
    text-underline-offset: 5px;
}

.about-cardx ul {
    list-style: none;
    padding: 0;
}

.about-cardx li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0.9;
}

.about-cardx li p {
    padding: 0 5px;
}
